.code-snippet {
  background: #272822;
  margin-top:30px;
}

.code-snippet p {
  font-family: 'Ubuntu Mono';
  font-size:1.2em;
  padding: 5px;
  color:#999;
  margin:0px;
}

.remark-code-line {
	transition-duration: 1s;
	transition-timing-function: ease;
}

.remark-code-line:hover {
	transition-duration: 0.5s;
 	background: #272822;
	transition-timing-function: ease;
	transform:scale(1.1, 1.1);
	box-shadow: 0px 0px 10px 0px #000;
}