.code-snippet {
  background: #272822;
  margin-top:30px;
}

.code-snippet p {
  font-family: 'Ubuntu Mono';
  font-size:1.2em;
  padding: 5px;
  color:#999;
  margin:0px;
}

.remark-code-line-highlighted {
	transition-duration: 1s;
	transition-timing-function: ease;
}

.remark-code-line-highlighted:hover {
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transform:scale(1.2, 1.2);
}